:root {
  --red-25: #FFF8F7;
  --red-50: #FFF1F0;
  --red-700: #E5372B;


  --purple-50: #F2EDFF;
  --purple-600: #6236CC;

  --yellow-50: #FFF9ED;
  --yellow-600: #EBA622;

  --blue-50: #ECF5FF;
  --blue-700: #0053B5;

  --green-50: #E9FAF0;
  --green-600: #08B94E;
  --green-700: #02983E;
  --green-800: #00732E;

  --gray-soft-25: #FAFAFA;
  --gray-soft-100: #F9F9F9;
  --gray-soft-300: #A3A9B6;
  --gray-soft-400: #858D9D;
  --gray-soft-500: #667085;
  --gray-soft-700: #525D73;
}
