@if (isBrowser() && graphData(); as data) {
  <div class="hardwares-graph" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <nz-graph
      nz-graph-zoom
      [nzGraphData]="data"
      [nzAutoSize]="true"
      [nzRankDirection]="rankDirection"
      (nzGraphInitialized)="graphInitialized($event)">

      <ng-container *nzGraphNode="let node">
        <foreignObject x="0" y="0" [attr.width]="node.width * 1.5" [attr.height]="node.height">
          <xhtml:div class="graph-node leaf-node">
            <div class="node-icon">
              <svg-icon
                [src]="(node.data?.serverType === 'scalable' ? 'scalable-server' : 'server') | iconPath">
              </svg-icon>
              @if (node.data?.risk; as risk) {
                <svg-icon
                  class="risk-icon"
                  [src]="getRiskIconName(risk) | iconPath">
                </svg-icon>
              }
            </div>
            <div class="graph-node-title">{{ node.data.serverName}}</div>
            <div class="graph-node-subtitle">{{ node.data.serverIp }}</div>
          </xhtml:div>
        </foreignObject>
      </ng-container>
    </nz-graph>
  </div>

  <app-risks-panel></app-risks-panel>
}

@if (!isBrowser()) {
  <div class="ssr-placeholder">
    <div class="loading-message">Loading graph...</div>
  </div>
}
