.sidebar {
  display: flex;
  height: 100%;
  background: white;
  box-shadow: 0 16px 18px 0 #0000000F;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 28px 16px;
}

.sidebar-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ant-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 20px;
  flex: 1;
  border-bottom: 1px solid var(--gray-soft-100);
}

.ant-layout-sider-collapsed {
  padding-left: 0;
}

.ant-menu-inline, .ant-menu-vertical {
  border-right: none;
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0 calc(50% - 16px / 2) !important;
}

.menu-item {
  border-radius: 8px;
  height: 42px;
  margin: 0;
  padding-left: 12px !important;

  &:hover {
    background: var(--green-50);

    ::ng-deep .menu-icon {
      color: black;
    }

    .menu-item-label {
      color: var(--gray-soft-700);
    }
  }
}

.menu-item:first-child {
  margin-top: 0;
}

.menu-item:nth-of-type(8) {
  margin-top: auto;
}

.menu-item-label {
  margin-left: 8px;
  color: var(--gray-soft-700);
  font-size: 15px;
}

.menu-item-icon {
  height: 20px;

  ::ng-deep .menu-icon {
    color: var(--gray-soft-300);
    transition: color 0.3s;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: padding .3s cubic-bezier(.645, .045, .355, 1);
}

.collapsed-sidebar {
  padding: 0 calc(50% - 8px);
  .user-info-content, .logout-icon {
    display: inline-block;
    opacity: 0;
  }

  .user-logo {
    width: 24px;
    height: 24px;
  }

}

.user-info-content, .logout-icon {
  transition: opacity .1s cubic-bezier(.645, .045, .355, 1), margin .1s, color .1s;
}

.user-logo {
  width: 48px;
  height: 48px;
  transition: .4s width, .4s height;
}

.user-info-content {
  color: #525D73;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
}

.logout-icon {
  margin-left: auto;
  cursor: pointer;
}

::ng-deep {
  .ant-layout-sider-trigger {
    position: absolute;
    background: var(--green-800);
    width: 32px !important;
    height: 32px;
    right: 0;
    transform: translateX(50%);
    top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 100%;
  }

  .ant-layout-sider-children {
    width: 100%;
  }

  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 0;
  }

  .ant-menu-title-content {
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .ant-menu-light .ant-menu-item:hover {
    color: var(--gray-soft-500);
  }

  .ant-menu-item-selected {
    background: var(--green-50);
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: var(--green-50);
  }

  .ant-menu-inline .ant-menu-item-selected::after {
    border-right: none;
  }

  .ant-menu-item:active {
    background: var(--green-50);
  }

  .ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
    margin-bottom: 0;
    display: flex;
  }

  .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .anticon {
    line-height: 20px;
  }

  .ant-menu.ant-menu-inline-collapsed .anticon {
    display: flex;
  }

}

